{% extends "flickboutique/layout.html" %}

{% block body %}

    <!-- This displays the (business) login form -->

    {% if error %}
        <div class="bg-danger text-white p-3 fixed-top">
            <h1>{{ error }}</h1>
        </div>
    {% endif %}

    {% block centerStyle %}{{ block.super }}{% endblock %}

    <main class="backgroundMain d-flex align-items-center h-100 bg-light">
        <form class="container bg-dark text-center text-white rounded p-5" action="{% url 'flickboutique:businessLogin' %}" method="post">
            {% csrf_token %} <!-- Cross Site Request Forgery Protection -->
            <h1 class="text-center">Welcome back! It's always a pleasure doing business with you.</h1>
        
            {{ form }}
            <input type="submit" class="btn btn-primary" value="Login!">
            <div class="container-fluid mt-3 mb-4 text-center"><a href="{% url 'flickboutique:customerLogin' %}">Are you a customer? Login here instead!</a></div>
            <div class="container-fluid mt-3 text-center"><a href="{% url 'flickboutique:businessSignup' %}">Or is your business not registered with us? Register here!</a></div>
        </form>
    </main>
    

{% endblock %}