{% extends "flickboutique/layout.html" %}


{% block body %}
    {% block nav %}{{ block.super }}{% endblock %}
    {% block defaultColorScheme %}{{ block.super }}{% endblock %}
    {% block userColorScheme %}{{ block.super }}{% endblock %}

    <div class="container py-5">
        {% if orders %}
            <h1>Your orders:</h1>
            {% for order in orders %}
                <ul class="container" style="list-style-type: none; padding-left: 0;">
                    <li class="bg-dark text-white rounded py-3">
                        <p class="px-3">You bought the following items from <strong>{{ order.business.first_name }}</strong>:</p>
                        {% for item in order.items.all %}
                            <div class="d-flex py-2">
                                <img class="rounded mx-3" src="{{ item.item.productImage.url }}" height="100px" width="100px">
                                <div class="mx-3">
                                    <h4>{{ item }} (x{{ item.quantity }})</h4>
                                    <h4>R{{ item.item.productPrice|floatformat:2 }}</h4>
                                </div>
                            </div>
                        {% endfor %}
                    </li>
                </ul>
            {% endfor %}
        {% else %}
            <p>You have no orders to track.</p>
            <a class="btn btn-primary" href="{% url 'flickboutique:customerHome' %}">Buy Now!</a>
        {% endif %}
    </div>
{% endblock %}